@import url('https://fonts.googleapis.com/css?family=Pacifico');


h1{
  color:#00ffff;
  font-size: 95px;
  text-align: center;
  font-family: 'Pacifico', cursive;
}
.secondh1{
  color:#ff0000;
  font-size: 20px;
}
.secondh1:hover{
  color:#ffff00;
  font-size: 20px;
}

.anotherclass{

}
#thisisid{
  text-align: center;
}
